// Colors :

$white: #ffffff;
$blue  : #7289da;
$darkblue  : #667bc2;
$lightgrey: #424549;
$grey: #36393e;
$darkgrey: #282b30;
$dark: #1e2124;
$black: #000000;


html, body {
  overflow-y: hidden;
  background: $grey;
  margin: 0;
  padding: 0;
}


.loginForm, .roomForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.01em solid $darkgrey;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0.1em $dark;
  width: 25%;
  height: auto;
  padding: 2%;
  margin: 10% auto auto;
  background: $lightgrey;
}

.roomForm{
  width: 30%;
}

h1 {
  padding: 0;
  margin: 1em;
  color: $white;
  background: $lightgrey;
}

.loginInput, .text-input-field, .messageInput{
  font-size: 1em;
  color: $blue;
  background: $lightgrey;
  padding-top: 1em;
  border:0;
  border-bottom:1px solid #555;

  &:focus {
    border:none;
    outline:none;
    border-bottom:2px solid $blue;
  }
}

.selectRoom {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.list{
  padding-left: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $darkgrey;
  width: 20vh;
  margin: 0;
  border-right: 0.01em solid $dark;
  color: $white;
}

Link {
  color: $blue;
  text-decoration: none;
}

.fa, .fa-sign-out {
  font-size: 48px;
  color: $blue;
}

.msgBox {
  overflow-y: scroll;
  height: 90vh;
  padding-left: 5px;
  width: 99vw;
}
.messages{
  display: block;
  width: 98vw;
  line-break: anywhere;
  &:hover {
    background: $darkgrey;
  }
}

.pseudo {
  display: inline;
  color: $blue;
}

.msg {
  display: inline;
  color: $white;
}

.msgForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background: $blue;
  border: none;
  width: 5vw;

  &:hover {
    background: $darkblue ;
    box-shadow: inset 0 0 7px $lightgrey;
  }
}

.room-name {
  background: $darkgrey;
  margin: 0;
  padding: 0;
}

.headerChat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $darkgrey;
  border-bottom: 2px solid $blue;
}

.messageInput {
  padding: 0 0 0 2vw;
  height: 5vh;
  width: 100vw;
  margin: 0;
  &:focus {
    color: $white;
    border-bottom:2px solid $blue;
  }
}

//Scroll Bar

::-webkit-scrollbar {
  margin-right: 2px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 7px $blue;
}