// Colors :

$white: #ffffff;
$blue  : #7289da;
$lightgrey: #424549;
$grey: #36393e;
$darkgrey: #282b30;
$dark: #1e2124;
$black: #000000;


html, body {
  background: $grey;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}


.loginForm, .roomForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.01em solid $darkgrey;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0.1em $dark;
  width: 25%;
  height: auto;
  padding: 2%;
  margin: 10% auto auto;
  background: $lightgrey;
}

.roomForm{
  width: 30%;
}

h1 {
  padding: 0;
  margin: 1em;
  color: $white;
  background: $lightgrey;
}

.loginInput, .text-input-field, .messageInput{
  font-size: 1em;
  color: $blue;
  background: $lightgrey;
  padding-top: 1em;
  border:0;
  border-bottom:1px solid #555;

  &:focus {
    border:none;
    outline:none;
    border-bottom:2px solid $blue;
    width: auto;
    height: auto;
  }
}

.selectRoom {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.list{
  padding-left: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $darkgrey;
  width: 20vh;
  margin: 0;
  border-right: 0.01em solid $dark;
  color: $white;
}

Link {
  color: $blue;
  text-decoration: none;
}

.fa, .fa-sign-out {
  font-size: 48px;
  color: $blue;
}

.messages{
  display: block;
  width: 98vw;
  line-break: anywhere;
  &:hover {
    background: $darkgrey;
  }
}

.pseudo {
  display: inline;
  color: $blue;
}

.msg {
  display: inline;
  color: $white;
}

.messageInput {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  &:focus {
    color: $white;
    width: 100vw;
  }
}